@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Scope+One&display=swap');
:root{
    --base-color:#ffffff;
    --text-color:#000000;
    --primary-color:#b29e72;
    --secondary-color:#a7c3a2;
    --color-1:#f8f8f8;
    --color-2:#f3f7f9;
    --color-3:#f6F3F9;
}

.scope-one-regular {
  font-family: "Scope One", serif;
  font-weight: 400;
  font-style: normal;
}

 /* <weight>: Use a value from 100 to 900 */
 /* <uniquifier>: Use a unique and descriptive class name */
.roboto-h1 {
  font-family: Roboto, sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


h1,h2,h3{
    font-family:Scope One,Poppins
}

nav{
    margin: 1em auto 1em auto;
    width:min(1000px,100%);
    
}

nav ul{
    display:flex;
    align-items:center;
    list-style-type:none;
    gap:2em;
}

nav li:first-child {
    margin-right:auto;
    font-family:Roboto,Poppins;
    font-weight:bold;
}

nav a{
    text-decoration:none;
    color: var(--text-color);
}

nav a:hover{
    text-decoration:underline;
}

header, section {
    margin: 1em auto;
    width: min(75em, 100%);
    background-color: var(--color-1);
    padding: min(2em,15%);
    border-radius:1em;
}

.flex-container{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
    gap:3em;
    
}

.first-card{
    margin: 3em auto 3em auto;
}

header img {
    max-width:100%;
    border-radius:10em;
    object-fit:cover;
    object-position:bottom;
}

.circle-img{
    max-width:100%;
    border-radius:4em;
}

.long-img{
    max-width:90%;
    border-radius:1em;
    margin: 1em 1em 1em 1em;
}



.text-container {
    flex: 0 1 34em;
    /* 0:no expansion   1:can shrink   34em: base size*/

}

h1{
    font-size:2.5rem;
}

.text-container p{
    margin: .75em 0 1em 0;
    font-size:1rem;
    font-family: Inter,Poppins;
    font-weight: 300;
}

.cta-button{
    display:inline-block;
    text-decoration:none;
    color:white;
    background-color:var(--primary-color);
    padding:.75em 1.25em;
    border-radius: .5em;
    font-weight:600;
    
}

.secondary{
    background-color: var(--secondary-color);
}

section {
    padding:3em min(2em,15%);
    background-color: var(--color-2);
    text-align:center;
}

h2{
    font-size:2rem;
}

section p {
    margin-top:1em;
    font-size:1.25rem;
}

section#my-work {
    background-color: var(--color-3);
}

.grid-container {
    margin-top: 3em;
    margin-bottom:3em;
    display:grid;
    width:100%;
    grid-template-columns:repeat(4,1fr);
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "img-2 img-2 img-3 img-3"
    "img-5 img-5 img-6 img-1";
}

.grid-container img{
    height:100%;
    width:100%;
    border-radius: .5em;
    transition:100ms ease;
}

.grid-container img:hover {
    scale:1.05;
}

details {
    margin-top:1em;
    background-color: var(--base-color);
    border-radius:1em;
}

details summary{
    padding:1em;
    font-size:1.7em;
    font-family:Scope One,Poppins;
}
details p{
    padding:0 2em 2em 2em;
    font-size:1em;
    font-family:Inter;
    font-weight:300;
}

footer {
    padding-bottom:1.5em;
    text-align:center;
}

footer a{
    margin: 0 1em;
    text-decoration:none;
    color:var(--text-color);
}

footer a:hover{
    text-decoration:underline;
}